.topic-class{
    font-size: 2.7rem;
    font-family: 'Caprasimo', serif;
}
.custom-bg-color{
    background: #142130; /*fallback for old browsers
    /* background: -webkit-linear-gradient( */
      /* 315deg,
      #243b55,
      #141e30
    ); /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(
      315deg,
      #243b55,
      #141e30
    ); */ 

    background: linear-gradient(180deg, #ffcb20, #ff6b16); 
}

/* body{
    color: white;
} */
.navbar{
    background: linear-gradient(150deg, #FF9800, #FF9800);
    box-shadow: 0px 5px 4px  #FF9800;
    /* background-color: #05074e; */
}
.about-text{
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
}
.footer-bg{
    background: linear-gradient(150deg, #FF9800, #ff5e00);
}